body {
  padding: 0;
  margin: 0;
  background: rgb(10,10,10);
  color: white;
  -webkit-font-smoothing: antialiased;
  font-family: Geneva, Helvetica, Arial, sans-serif;
}
a {
  font-weight: bold;
  color: white;
}
.flex {
  background: black;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.flex_child {
  padding: 0 10px;
}
#game {
  user-select: none;
  cursor: default;
  border: 3px solid black;
  border-top: 32px solid black;
  border-radius: 2px;
  margin: 30px auto;
  position: relative;
}
#game_canvas {
  background: black;
}
#title, .right, .left {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  position: absolute;
  width: 100%;
  top: -24px;
}
#title {
  text-align: center;
  color: #999;
  font-weight: normal;
}
.right {
  right: 5px;
}
.left {
  left: 30px;
}
#speed, #score {
  position: relative;
  float: right;
  margin-left: 35px; 
}
#high_score {
  position: relative;
  float: left;
  color: red;
}
#score {
  color: green;
}
#speed {
  color: yellow;
}
#msg_top, #msg_bottom {
  font-size: 0.8em;
  padding: 10px 0;
  background: rgba(255,255,255,.85);
  color: black;
/*  background: rgba(0,0,0,.85);
  color: white;*/
  width: 60%;
  margin: 20%;
  margin-bottom: 10%;
  position: absolute;
  border-radius: 2px;
  text-align: center;
  transition: opacity 0.2s ease-out, bottom 0.3s ease-out;
}
#msg_top {
  margin-bottom: 30%;
}
.msg_hide {
  bottom: 0;
  opacity: 0;
}
.msg_show {
  bottom: 10px;
  opacity: 1;
}
.icon {
  position: absolute;
  fill: white;
  left: -25px;
  top: -2px;
  width: 20px;
  height: 20px;
}
#high_score .icon {
  fill: red;
}
#speed .icon {
  fill: yellow;
}
#score .icon {
  fill: green;
}
