body {
  padding: 0;
  margin: 0;
  background: rgb(10,10,10);
  color: white;
  -webkit-font-smoothing: antialiased;
  font-family: Geneva, Helvetica, Arial, sans-serif;
}
a {
  font-weight: bold;
  color: white;
}
#help:before {
  content: 'HELP';
  font-weight: bold;
  padding: 5px;
  height: 20px;
  width: 36px;
  background: red;
  position: absolute;
  top: 0;
  left: 0;
}
#help {
  overflow: hidden;
  position: fixed;
  height: 50%;
  bottom: calc(-50% + 30px);
  right: calc(-100% + 46px);
  box-sizing: border-box;
  padding: 10px 20px;
  background: black;
  width: 100%;
  transition: all .4s ease-out;
}
#help:hover {
  right: 0;
  bottom: 0;
}
.help_child {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  float: left;
  padding: 0 10px;
  text-align: center;
}
.full {
  width: 100%;
}
#game {
  user-select: none;
  cursor: default;
  border: 3px solid black;
  border-top: 32px solid black;
  border-radius: 2px;
  margin: 30px auto;
  position: relative;
}
#game_canvas {
  background: black;
}
#title, .right, .left {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  position: absolute;
  width: 100%;
  top: -24px;
}
#title {
  text-align: center;
  color: #999;
  font-weight: normal;
}
.right {
  right: 5px;
}
.left {
  left: 30px;
}
#speed, #score {
  position: relative;
  float: right;
  margin-left: 35px; 
}
#high_score {
  position: relative;
  float: left;
  color: red;
}
#score {
  color: green;
}
#speed {
  color: yellow;
}
.msg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
#msg_top, #msg_bottom {
  font-size: 0.8em;
  padding: 10px 0;
  background: rgba(0,0,0,.85);
  color: white;
  width: 40%;
  position: absolute;
  text-align: center;
  transition: all 0.3s ease-out;
}
#msg_top {
  top: 0;
}
#msg_bottom {
  bottom: 0;
}
.msg_hide {
  left: -100%;
}
.msg_show {
  left: 0;
}
.icon {
  position: absolute;
  fill: white;
  left: -25px;
  top: -2px;
  width: 20px;
  height: 20px;
}
#high_score .icon {
  fill: red;
}
#speed .icon {
  fill: yellow;
}
#score .icon {
  fill: green;
}
#levels {
  background: black;
  padding: 10px;
}
a.level_label {
  display: inline-block;
  border-radius: 5px;
  border: 3px solid white;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 2em;
  line-height: 70px;
  margin: 20px;
  width: 70px;
  height: 70px;
  background: #f33;
}
a.level_label:hover {
  border: 3px solid yellow;
  color: yellow;
  background: red;
}
