.button
  background button-color
  border none
  outline none
  border-bottom 5px solid button-color-darken
  border-radius 3px
  margin 0 5px
  padding 10px 15px
  color main-font-color
  font-weight bold
  text-transform uppercase
  &:hover
    background button-color-darken
    border-color button-color-darkest
  &:active
    background button-color-darkest
    color main-font-color-darken
    padding-bottom 8px
    padding-top 12px
