@require mixins
@require theme
@require button
@require top_nav
@require form
@require game
@require levels
@require help

body
  -webkit-font-smoothing antialiased
  background back-color
  color main-font-color
  font-family main-font
  margin 0
  padding 0
  padding-top 60px

a
  color main-font-color
  font-weight bold
  text-decoration none
