main-font               = Geneva, Helvetica, Arial, sans-serif
main-font-color         = #FFF
main-font-color-darken  = darken(main-font-color, 5)

back-color              = #D1A675
back-color-darken       = darken(back-color, 5)

map-color               = #363636
map-color-darken        = darken(map-color, 2)
map-color-darkest       = darken(map-color-darken, 3)

msg-color               = #2E608A
msg-color-darken        = darken(msg-color, 5)

high-score-color        = #D58581
score-color             = #7ACD6A
speed-color             = #8CB2D9

new-level-color         = #30913D
new-level-color-darken  = darken(new-level-color, 5)
new-level-color-darkest = darken(new-level-color-darken, 5)

button-color            = #C46C4F
button-color-darken     = darken(button-color, 10)
button-color-darkest    = darken(button-color-darken, 5)
