#game
  .left
    span#high_score
      .value 0
      include cup.svg
  span#title Snake
  .right
    span#score
      .value 0
      include star.svg
    span#speed
      .value 0
      include speedometer.svg
  #msg_top.msg_hide
  #msg_bottom.msg_hide
