#game {
  border: 3px solid #111;
  border-top: 20px solid #111;
  border-radius: 5px;
  margin: 30px auto;
  position: relative;
  box-shadow: 0 0 30px #111;
}
#game_canvas {
  background: #111;
}
#close, #full, #min {
  border: 1px solid #000;
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: -15px;
  z-index: 2;
}
#full {
  left: 20px;
  background: green;
}
#min {
  left: 35px;
  background: yellow;
}
#title, #score {
  position: absolute;
  width: 100%;
  top: -18px;
  font-family: Monospace;
}
#title {
  text-align: center;
  color: #fff;
}
#score {
  text-align: right;
  color: yellow;
  right: 5px;
}