h4 {
  margin-left: 40px;
  font-weight: 400;
  font-family: Helvetica, Arial, sans-serif;
}
body {
  font-family: monospace;
}
#game {
  border: 3px solid #111;
  border-top: 20px solid #111;
  border-radius: 5px;
  margin: 30px auto;
  position: relative;
  box-shadow: 0 0 30px #111;
}
#game_canvas {
  background: #111;
}
#close, #full, #min {
  border: 1px solid #000;
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: -15px;
  z-index: 2;
}
#full {
  left: 35px;
  background: green;
}
#min {
  left: 20px;
  background: yellow;
}
#title, #right {
  position: absolute;
  width: 100%;
  top: -18px;
}
#title {
  text-align: center;
  color: #fff;
}
#right {
  right: 5px;
}
#speed, #score {
  float: right;
  margin-left: 5px; 
}
#score {
  color: green;
}
#speed {
  color: yellow;
}
#msg_top, #msg_bottom {
  padding: 10px;
  background: rgba(0,0,0,.85);
  color: white;
  width: 60%;
  margin: 20%;
  margin-bottom: 10%;
  position: absolute;
  border-radius: 5px;
  text-align: center;
  transition: opacity 0.2s ease-out, bottom 0.3s ease-out;
  box-shadow: 0 0 30px #111;
}
#msg_top {
  margin-bottom: 30%;
}
.msg_hide {
  bottom: 0;
  opacity: 0;
}
.msg_show {
  bottom: 10px;
  opacity: 1;
}