extends index.jade
block top_nav
  h3 Login

block body
  form(method="POST" action="/login")
    input.input_field(type="text" name="name" placeholder="Login")
    input.input_field(type="password" name="pass" placeholder="Password")
    input.button(type="submit")
