extends index.jade
block top_nav
  h3 New level

block body
  form(method="POST" action="/new_level")
    input.input_field(type="text" name="name" placeholder="Name")
    input.button(type="submit")
