extends index.jade

block top_nav
  h3 Registration

block body
  form(method="POST" action="/register")
    input.input_field(type="text" name="name" placeholder="Login")
    input.input_field(type="password" name="pass" placeholder="Password")
    input.input_ok(type="submit")
